{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit Product {% endblock %}</h1>
<form method="post" action="{{ url_for('edit_product')}}" method="post">
    <label for="content">Product Id</label>
    <br>
    <input name="product_id" placeholder="Product Id" value="{{ product_id }}" readonly=True></input>
    <br>
    <label for="content">Product Name</label>
    <br>
    <input name="product_name" placeholder="Product Name" value="{{ product_name }}"></input>
    <br>
    <button class="my-3" type="submit">Submit</button>
</form>
{% endblock %}